@{
    ViewData["Title"] = "Home Page";
}


<section id="summary-details" class="mb-3 flex-wrap">
    <div class="section-title mb-3"><h4>SUMMARY DETAILS</h4></div>
    <div class="section-content row ms-3">
        <div class="summary-card d-flex col-4">
            <div class="summary-card-icon">
                <img src="img/icons/bar-chart-2.svg" />
            </div>
            <div class="summary-card-content ms-3">
                <h5>@ViewBag.totalProducts</h5>
                <span class="text-black-50" style="font-size: 13px">TOTAL ITEMS</span>
            </div>
        </div>
        <div class="summary-card d-flex ms-4 col-4">
            <div class="summary-card-icon">
                <img src="img/icons/bar-chart-2.svg" />
            </div>
            <div class="summary-card-content ms-3">
                <h5>@ViewBag.totalCategories</h5>
                <span class="text-black-50" style="font-size: 13px">TOTAL CATEGORIES</span>
            </div>
        </div>
    </div>
</section>

<section id="product-list">
    <div class="section-title mb-3 d-flex">
        <h4 class="m-0">PRODUCT LISTS</h4>
        <a href="@Url.Action("AddProduct","Product")" class="btn btn-sm btn-primary ms-2">
            ADD PRODUCT
        </a>
    </div>
    @Html.Partial("~/Views/Shared/Partials/_ProductList.cshtml")
</section>